name: C/C++ CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: picotls
      run: |
        git clone https://github.com/huitema/picotls.git
        cd picotls
        git submodule init
        git submodule update
        cmake .
        make
        cd ..
    - name: picoquic
      run: |
        git clone https://github.com/private-octopus/picoquic.git
        cd picoquic
        cmake .
        make
        make DESTDIR=$(pwd)/../ install
         cd ..
    - name: build
      run: |
        ./autogen.sh
        export LD_LIBRARY_PATH=$(pwd)/usr/local/lib/:$(pwd)/picoquic/:$LD_LIBRARY_PATH
        ls usr/local/
        ls usr/local/lib
        ./configure "CFLAGS=-I$(pwd)/usr/local/include/ -I$(pwd)/picoquic/picoquic/" "LDFLAGS=-L$(pwd)/picoquic/"
        make
